.content--pdf {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content--pdf canvas {
    display: block;
    max-height: 100vh;
    max-width: 100vh
    margin: 0 auto;
}